

#menu_detail{
    display: none;
}




@media screen and (orientation:portrait) and (min-width: 320px) {

    #page{
    	overflow: scroll;
    	height: 100%;
    	padding: 0;
    	margin:0;
    	top:0;
    	left:0;
    	position: fixed; /* covers the whole screen */ /*Will make the menu stat on top of the screen as you scroll down */
    	width: 100%;
    }




    #header{
	background-color: #383d36;
	border-width: 0px;
	border-style: solid;
	text-align: right;
	height: 60px;

	
	}


    #menu_button {
            text-decoration: none;
            color:white;
    }

    #menu_button:hover{
        color: grey;
    }

    #menu_list{
        display: none;
    }

	#header img{
		width: 50px;
		height: 40px;
		margin-left: 10px;
		margin-top: 10px;

	}

	#header i{
		margin-right: 15px;  /* menu bard */
		margin-top: 14px;
	}

    /* include color for when you click the menu bar */


    /*  */



    #menu_detail{
    background: #14292e;
    

    }

    #menu_detail ul{
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #menu_detail ul li{ /* words inside toggleeffect */
        font-size: 14px;
        letter-spacing: 2px;
        padding: 15px 0;
        text-transform: uppercase;

    }

    #menu_detail ul li:hover{
        background: #234851;
    }

    #menu_detail a{
        text-decoration: none;
        color: white;
    }




    #box1{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        background: #dddedc;
        height: 60px;
        text-align: center;

    }

    #box1_word{
        line-height: 50px;
        vertical-align: middle;
    }

    #box2{  /*link to uniiculture.xyz */
        border-style: solid;
        border-width: 0px;

        /*note: don't give the box a height */
         
    }

    #box2 img{
        max-width: 100%;
        height: auto;
    }


    #box3{
        
        height: 130px;
        background: white;
    }


    .title{
        margin-top: 18px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
    }



    .detail_word{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    width: 95%;
    margin: auto;
    
    
    }

    #box4{

        /* don't give box4 height */
    }

    #box4 img{
        max-width: 100%;
        height: auto;
    }

    #box5 {
        height: 130px;
    }

    #box6 {

        /* don't give box6 height */
    }

    #box6 img{
        max-width: 100%;
        height: auto;
    }

    #box7{
        height: 130px;
    }

    #box8 img{
        max-width: 100%;
        height: auto;
    }

    #box9{
        height: 130px;
    }

    #box10 img{
        max-width: 100%;
        height: auto;
    }



    #box11{
        height: 150px;
    }

    #footer{
        height: 90px;
        text-align: center;
        background-color: #383d36;
        color: white;
        font-family: 'Raleway', sans-serif;

    }



} /* end min-width: 320px */












/* Portrait tablets, iPad */
@media screen and (min-width: 641px) {

    #page{
        
        height: 300px;
        padding: 0;
        margin:0;
        top:0;
        left:0;
        position: fixed; /* covers the whole screen */ /*Will make the menu stat on top of the screen as you scroll down */
        width: 100%;


    border-width: 1px;
    border-style: solid;

    }

    #header{
    background-color: blue;
    border-width: 1px;
    border-style: solid;
    text-align: right;
    height: 70px;
    
    }

    #menu_list{
        display: none;
    }

    #header img{
        width: 170px;
        height: 40px;
        margin-right: 10px;
        margin-top: 10px;

    }

    #header i{
        margin-right: 20px;   /* menu bar */
        margin-top: 20px;   
    }

    #menu_detail{
        background: #1abc9c;
    border-width: 1px;
    border-style: solid;
    }

    #menu_detail ul{
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #menu_detail ul li:hover{
        background: #16a085;
    }

    #menu_detail a{
        text-decoration: none;
        color: black;
    }






} /* end 641px media */

@media screen and (min-width: 961px) {
     #page{
        
        height: 300px;
        padding: 0;
        margin:0;
        top:0;
        left:0;
        position: fixed; /* covers the whole screen */ /*Will make the menu stat on top of the screen as you scroll down */
        width: 100%;


    border-width: 1px;
    border-style: solid;

    }

    #menu_list{
        display: none;
    }


    #header{
    background-color: green;
    border-width: 1px;
    border-style: solid;
    text-align: right;
    height: 70px;
    
    }

}












/* header will change */
@media screen and (min-width: 1025px) {
    #page{
        
        height: 300px;
        padding: 0;
        margin:0;
        top:0;
        left:0;
        position: fixed; /* covers the whole screen */ /*Will make the menu stat on top of the screen as you scroll down */
        width: 100%;


    border-width: 1px;
    border-style: solid;

    }


    #menu_button{
        display: none;
    }

    #menu_list{
        display: inline;
    }

    #header{
    background-color: red;
    border-width: 1px;
    border-style: solid;
    text-align: right;
    height: 70px;
    
    }



} /* end 1025px media */

@media screen and (min-width: 1281px) {
    #page{
        
        height: 300px;
        padding: 0;
        margin:0;
        top:0;
        left:0;
        position: fixed; /* covers the whole screen */ /*Will make the menu stat on top of the screen as you scroll down */
        width: 100%;


    border-width: 1px;
    border-style: solid;

    }

    #menu_button{
        display: none;
    }

    #menu_list{
        display: inline;
    }


    #header{
    background-color: orange;
    border-width: 1px;
    border-style: solid;
    text-align: right;
    height: 70px;
    
    }

} /* end 1281px media */